:root{
    --primaryRed: #D44A58;
    --white: #ffffff;
    --grey:#D0DAE0;
    --darkBlue: #36495A;
}
@font-face {
    font-family: 'myanmar-khyay-regular', sans-serif;
    src: url('../fonts/Khyay\-Regular.ttf');
    /*URL to font*/
}
/* body{
    display: flex;
    flex-direction: row;
} */